html, body, #root, #main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align the form at the top and let it grow with content */
  height: 100%;
  width: 100%;
  overflow-y: auto; /* Allow scrolling if content exceeds viewport height */
}

.common-info, .patient-info, .schein-type-info, .health-info {
  padding: 16px;
  background-color: #f8d2c2;
  border: 1px solid #ec3c35;
  border-radius: 8px;
  margin-bottom: 16px;
}